.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.container .img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

h2 {
    color: black;
}

.img img {
    padding: 20px 20px 20px 20px;
    height: 150px;
    width: 200px;
}