.container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    align-self: center;
}

.img{
    justify-content: space-around;
}

.img img{
    height: 100px;
    width: 200px;
}