@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');


.nav{
    
    background-color: #eeafc2  ;
    text-align: center;
    font-family: 'Hammersmith One', serif ;
    
  }

.item a { 
    color: white;
    text-decoration: none;
    /* position: fixed; */
  }  

.item{
  padding: 7px;
}


.item a.activeLink{
  color:#1b1b1b;
}


h2{
  color: white;
}