@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');

.navv {
  display: flex;
  justify-content: stretch;
  min-height: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #ebc0cd;
  text-align: center;
  font-family: 'Hammersmith One', serif;
  min-height: max-content;

}

.item a {
  color: white;
  text-decoration: none;
  /* position: fixed; */
}

.item {
  padding: 15px;
}


.item a.activeLink {
  color: #1b1b1b;

}


h2 {
  color: white;
}